.available {
    color: green;
    cursor: pointer;

}

.occupied {
    color: #CC0000;
}


.list-group-item, .list-group-item:focus {
    text-align: center;
  }

.list-group-item:hover, .list-group-item:focus {
    background: #eee;
  }

  .advBody {
      display: flex;
      justify-content: center;
  }

 .alignFix {
     text-align: center;
 }

 .adv {
     background: #2E2E2E;
    //  #eee 
 }
